* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeeef7;
    opacity: 1;
    line-height: 1.5;
}

header {
    background-color: rgba(49, 52, 61, 1);
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 6% 15px 0;
    position: sticky;
    top: 0;
    z-index: 99999;
}

header h1 {
    padding: 10px;
    color: rgba(49, 52, 61, 1);
    background-color: rgba(146, 204, 206, 1);
    margin: 0;
    font-size: 3vw;
    line-height: 1;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li a {
    padding: 5px 10px;
    text-decoration: none;
    color: rgba(146, 204, 206, 1);
    font-size: 1.4rem;
    margin-right: 10px;
}

nav a:hover {
    background-color: black;
    border-radius: 15px;
}

.hero {
    background-image: linear-gradient(180deg, rgba(146, 204, 206, 0.5), rgba(49, 52, 61, 1)),
        url("../images/02-hero-bg.jpg");
    height: 250px;
    display: flex;
    background-size: cover;
    position: relative;
}

.hero h2 {
    display: inline-block;
    position: absolute;
    color: rgba(146, 204, 206, 1);
    font-size: 45px;
    bottom: 40px;
    right: 50px;
}

.page-style {
    margin: 0 auto;
    max-width: 80%;
}

.folio-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.folio-section>h2 {
    flex: 0 0 20%;
    text-align: right;
    border-right: 4px solid rgba(49, 52, 61, 1);
    padding-right: 10px;
    font-size: 4vw;
    line-height: 1.1;
}

.folio-section div img {
    margin: 10px 11px;
    height: 370px;
    width: 300px;

}

.folio-section>div {
    flex: 0 0 80%;
}

.folio-section p {
    margin-bottom: 20px;
    padding-left: 11px;
}

/* .para-one
{
    float:right; 
} */

.photo-container {
    display: flex;
    flex-wrap: wrap;
}

.quick-bio {
    margin-top: 4px;
}

.photo-container span {
    font-weight: bold;
}

.quote {
    font-style: italic !important;
    color: grey;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    border: 5px solid rgba(146, 204, 206, 1);
    border-radius: 15px;
    background-color: rgba(68, 88, 119, 1);
    color: rgba(49, 52, 61, 1);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    margin: 8px;
    text-decoration: none;

}

.flex-item:first-child {
    height: 400px;
    flex-basis: 100%;
}

.flex-item div {
    background-color: rgba(146, 204, 206, 1);
    padding: 8px 10px;
    margin-top: 70px;
    margin-bottom: 10px;
}

.contact-style div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    height: 100%;
    width: 100%;
    list-style: none;
}

.contact-style a {
    color: rgba(49, 52, 61, 1);
    text-decoration: underline;
    font-weight: bold;
}

.smac {
    background-image: url("../images/s-m-a-c-netlify-app-1920x1080desktop-f3306b.png");
    background-size: cover;
}

.run-buddy {
    background-image: url("../images/02-run-buddy.jpg");
    background-size: cover;
}

.market-agency {
    background-image: url("../images/market.png");
    background-size: cover;
}

.personal-site {
    background-image: url("../images/css-mysite-netlify-app-1920x1080desktop-bbc2cf.png");
    background-size: cover;
}

.tinder-dog {
    background-image: url("../images/tinderdog101-netlify-app-1920x1080desktop-782c98.png");
    background-size: cover;
}

footer {
    background-color: rgba(49, 52, 61, 1);
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
    height: 100px;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width:980) {
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
    }

    header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 10vw;
    }

    header nav {
        justify-content: center;
    }

    .folio-section>h2,
    .folio-section>div {
        flex: 0 0 100%;
    }

    .folio-section>h2 {
        border-right: none;
        border-bottom: 4px solid var(--primary);
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 7vw;
    }

}

@media screen and (max-width: 768px) {

    .flex-item,
    .flex-item:first-child {
        flex-basis: 100%;
    }

    .flex-item:first-child {
        min-height: 150px;
    }

    .hero-banner {
        justify-content: center;
        text-align: center;
    }

    .contact-style div {
        flex-direction: column;
        align-items: flex-start;
    }
}