* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeeef7;
    opacity: 1;
    line-height: 1.5;
}

header {
    background-color: rgba(49, 52, 61, 1);
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 6% 15px 0;
    z-index: 99999;
}

header h1 {
    padding: 10px;
    color: rgba(49, 52, 61, 1);
    background-color: rgba(146, 204, 206, 1);
    margin: 0;
    font-size: 3vw;
    line-height: 1;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li a {
    padding: 5px 10px;
    text-decoration: underline solid #B8DFD8 5px;
    color: rgba(146, 204, 206, 1);
    font-size: 1.4rem;
    margin-right: 10px;
}

.hero {
    background-image: linear-gradient(180deg, rgba(146, 204, 206, 0.5), rgba(49, 52, 61, 1)),
        url("../images/02-hero-bg.jpg");
    height: 250px;
    display: flex;
    background-size: cover;
    position: relative;
}

.hero h2 {
    display: inline-block;
    position: absolute;
    color: rgba(146, 204, 206, 1);
    font-size: 45px;
    bottom: 40px;
    right: 50px;
}

.page-style {
    margin: 0 auto;
    max-width: 80%;
}

.folio-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.folio-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    border-right: 4px solid rgba(49, 52, 61, 1);
    padding-right: 10px;
    font-size: 4vw;
    line-height: 1.1;
}

.folio-section > div {
    flex: 0 0 80%;
}

.folio-section p {
    margin-bottom: 20px;
    padding-left: 40px;
}

.work-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-item
{
    border: 5px solid rgba(146, 204, 206, 1);
    background-color: rgba(68, 88, 119, 1);
    color: rgba(49, 52, 61, 1);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    margin: 8px;
    text-decoration: none;
    
}
.flex-item:first-child
{
    height: 400px;
    flex-basis: 100%;
}
.flex-item div {
    background-color:rgba(146, 204, 206, 1);
    padding: 8px 10px;
    margin-top: 70px;
    margin-bottom: 10px;
}
.contact-style address ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none;
}
.contact-style a 
{
    text-decoration: none;
}
